body {
  background-color: skyblue;
}

.occupied {
  background-image: url(./img/taxi-icon.jpg);
  background-size: contain;
  outline: 1px solid brown;
}

.gridUnit {
  background-color: orange;
  outline: 1px solid brown;
}

.pedestrian {
  background-image: url(./img/pedestrian.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  outline: 1px solid brown;
}

.home {
  background-image: url(./img/house-icon.png);
  background-size: contain;
  outline: 1px solid brown;
}

.fuel {
  background-image: url(./img/fuel-icon.png);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  outline: 1px solid brown;
}

.pineapple {
  background-image: url(./img/pineapple.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  outline: 1px solid brown;
}

#grid {
  background-color: orange;
  border: 4px solid brown;
  border-radius: 8px;
}
