body {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  flex-direction: row;
  width: 700px;
  margin: 0 auto;
  margin-top: 70px;
}

#grid {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: repeat(5, 1fr);

}

#panel {
  text-align: center;
  width: 200px;
  margin-top: 150px;
}
